<div class="flex flex-col gap-6">
  <fieldset class="flex gap-4">
    <div class="flex-1">
      <label for="arabicName" class="block font-bold mb-3">{{
        "userDialog.first_name" | translate
      }}</label>
      <input
        type="text"
        pInputText
        id="arabicName"
        [formControl]="firstName"
        control
        required
        autofocus
        fluid
        [ngClass]="{ 'ng-invalid': submitted && firstName.invalid }"
      />
      @if (submitted && !firstName) {<small class="text-red-500"
        >{{ "General.required" | translate }} </small
      >} @if (firstName.errors?.['serverError']) { @for (err of
      firstName.errors?.['serverError']; track $index) {
      <p class="text-red-500">{{ err }}</p>
      } }
    </div>
    <div class="flex-1">
      <label for="EnglishName" class="block font-bold mb-3">{{
        "userDialog.last_name" | translate
      }}</label>
      <input
        type="text"
        pInputText
        id="EnglishName"
        [formControl]="lastName"
        control
        required
        autofocus
        fluid
        [ngClass]="{ 'ng-invalid': submitted && lastName.invalid }"
      />
      @if (submitted && !lastName) {<small class="text-red-500"
        >{{ "General.required" | translate }} </small
      >} @if (lastName.errors?.['serverError']) { @for (err of
      lastName.errors?.['serverError']; track $index) {
      <p class="text-red-500">{{ err }}</p>
      } }
    </div>
  </fieldset>
  <div class="flex gap-4">
    <div class="flex-1">
      <label for="email" class="block font-bold mb-3">{{
        "userDialog.email" | translate
      }}</label>
      <input
        type="email"
        pInputText
        id="email"
        [formControl]="email"
        control
        required
        autofocus
        fluid
        email
        [ngClass]="{ 'ng-invalid': submitted && email.invalid }"
      />
      @if (submitted && !email) {<small class="text-red-500"
        >{{ "General.required" | translate }} </small
      >} @if (email.errors?.['serverError']) { @for (err of
      email.errors?.['serverError']; track $index) {
      <p class="text-red-500">{{ err }}</p>
      } }
    </div>
    <div class="flex-1">
      <label for="phoneNumber" class="block font-bold mb-3">{{
        "userDialog.phone_number" | translate
      }}</label>
      <input
        type="tel"
        pInputText
        id="phoneNumber"
        [formControl]="phoneNumber"
        placeholder="+20 1234567890"
        control
        required
        autofocus
        fluid
        [ngClass]="{ 'ng-invalid': submitted && phoneNumber.invalid }"
      />
      @if (submitted && !phoneNumber) {<small class="text-red-500"
        >{{ "General.required" | translate }} </small
      >} @if (phoneNumber.errors?.['serverError']) { @for (err of
      phoneNumber.errors?.['serverError']; track $index) {
      <p class="text-red-500">{{ err }}</p>
      } }
    </div>
  </div>
  <fieldset class="flex flex-col">
    @if (data) {
    <div class="flex gap-4">
      <label for="isChangePassword" class="block font-bold mb-3">{{
        "userDialog.update_password" | translate
      }}</label>
      <p-toggleswitch id="isChangePassword" [formControl]="isChangePassword" />
    </div>
    }
    <div class="flex gap-4">
      <div class="flex-1">
        <label for="password" class="block font-bold mb-3">{{
          "userDialog.password" | translate
        }}</label>
        <input
          type="password"
          pInputText
          id="password"
          [formControl]="password"
          control
          required
          autofocus
          fluid
          [ngClass]="{ 'ng-invalid': submitted && password.invalid }"
        />
        @if (submitted && !password) {<small class="text-red-500"
          >{{ "General.required" | translate }} </small
        >} @if (password.errors?.['serverError']) { @for (err of
        password.errors?.['serverError']; track $index) {
        <p class="text-red-500">{{ err }}</p>
        } }
      </div>
      <div class="flex-1">
        <label for="confirmPassword" class="block font-bold mb-3">{{
          "userDialog.confirm_password" | translate
        }}</label>
        <input
          type="password"
          pInputText
          id="confirmPassword"
          [formControl]="confirmPassword"
          control
          required
          autofocus
          fluid
          [ngClass]="{ 'ng-invalid': submitted && confirmPassword.invalid }"
        />
        @if (submitted && !confirmPassword) {<small class="text-red-500"
          >{{ "General.required" | translate }} </small
        >} @if (confirmPassword.errors?.['serverError']) { @for (err of
        confirmPassword.errors?.['serverError']; track $index) {
        <p class="text-red-500">{{ err }}</p>
        } }
      </div>
    </div>
  </fieldset>
</div>

<div class="flex gap-4 justify-end mt-4">
  <p-button label="Cancel" icon="pi pi-times" text (click)="closeDialog()" />
  <p-button
    label="Save"
    icon="pi pi-check"
    [loading]="loading"
    (click)="submit()"
    [disabled]="!form.dirty"
  />
</div>
