<main class="flex flex-col h-full">
  <div class="flex-1 flex p-6 shadow-md rounded-t-lg bg-white">
    <app-filter class="flex-1" (onFilter)="onFilter($event)"></app-filter>

    <p-button
      label="{{ 'AssetsList.show_on_list' | translate }}"
      icon="pi pi-list"
      class="ms-4"
    />
  </div>
  <google-map [options]="options" class="h-full">
    @for (marker of markerPositions; track marker) {
    <map-marker
      [position]="convertPointsToLatLng(marker?.pointOnMap)"
      (mapClick)="onMarkerClick(marker)"
    />
    }
  </google-map>
</main>
