<div class="flex flex-col gap-6">
  <fieldset class="flex gap-4">
    <div class="flex-1">
      <label for="arabicName" class="block font-bold mb-3">{{
        "arabic_name" | translate
      }}</label>
      <input
        type="text"
        pInputText
        id="arabicName"
        [formControl]="arName"
        control
        required
        autofocus
        fluid
        [ngClass]="{ 'ng-invalid': submitted && arName.invalid }"
      />
      @if (submitted && !arName) {<small class="text-red-500"
        >{{ "General.required" | translate }} </small
      >} @if (arName.errors?.['serverError']) { @for (err of
      arName.errors?.['serverError']; track $index) {
      <p class="text-red-500">{{ err }}</p>
      } }
    </div>
    <div class="flex-1">
      <label for="EnglishName" class="block font-bold mb-3">{{
        "english_name" | translate
      }}</label>
      <input
        type="text"
        pInputText
        id="EnglishName"
        [formControl]="enName"
        control
        required
        autofocus
        fluid
        [ngClass]="{ 'ng-invalid': submitted && enName.invalid }"
      />
      @if (submitted && !enName) {<small class="text-red-500"
        >{{ "General.required" | translate }} </small
      >} @if (enName.errors?.['serverError']) { @for (err of
      enName.errors?.['serverError']; track $index) {
      <p class="text-red-500">{{ err }}</p>
      } }
    </div>
  </fieldset>
  <div>
    <label for="images" class="block font-bold mb-3">{{
      "companies.logo" | translate
    }}</label>
    <div class="flex items-end gap-4">
      <p-button
        label="{{ 'General.choose' | translate }}"
        icon="pi pi-upload"
        (click)="file.click()"
      />

      <input
        type="file"
        (change)="onSelectedFiles($event)"
        #file
        hidden
        accept="image/*"
        [ngClass]="{ 'ng-invalid': submitted && logo.invalid }"
      />

      @if (imagePreview) {
      <img src="{{ imagePreview }}" class="shadow h-28 w-28" alt="logo" />
      }
    </div>
    @if (submitted && !logo) {<small class="text-red-500"
      >{{ "General.required" | translate }} </small
    >} @if (logo.errors?.['serverError']) { @for (err of
    logo.errors?.['serverError']; track $index) {
    <p class="text-red-500">{{ err }}</p>
    } }
  </div>
</div>

<div class="flex gap-4 justify-end">
  <p-button label="Cancel" icon="pi pi-times" text (click)="closeDialog()" />
  <p-button
    label="Save"
    icon="pi pi-check"
    [loading]="loading"
    (click)="submit()"
    [disabled]="!form.dirty"
  />
</div>
