<main class="flex flex-col">
  <div class="flex flex-col gap-4">
    @if(asset?.images) {
    <p-galleria
      [value]="images"
      [numVisible]="5"
      [circular]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" class="w-full h-52 object-contain" />
      </ng-template>
    </p-galleria>
    } @else {
    <img
      src="../../assets/imgs/asset-place-holder.svg'
      "
      class="w-full h-52 shadow"
    />
    }
    <div>
      <a routerLink="/asset/{{ asset?.id }}" (click)="closeDialog()">
        <h2 class="text-lg font-bold">{{ asset?.translatedName }}</h2></a
      >
      <h3 class="text-[var(--secondary-color)] text-sm">
        {{ asset?.location?.translatedName }}
      </h3>
    </div>
    <div class="flex gap-4 price">
      <img
        src="../../assets/icons/company-gary.svg"
        class="w-10"
        alt="company"
      />
      <div class="flex flex-col">
        <span class="text-sm text-[var(--secondary-color)]">
          {{ "map.project_name" | translate }}
        </span>
        <span class="font-medium text-lg">
          {{ asset?.project?.translatedName }}
        </span>
      </div>
    </div>
    <div class="flex gap-4 price">
      <img src="../../assets/icons/price.svg" class="w-10" alt="price" />
      <div class="flex flex-col">
        <span class="text-sm text-[var(--secondary-color)]">
          {{ "map.value" | translate }}
        </span>
        <span class="font-medium text-lg">
          @if(asset?.currentValue?.value) {
          {{
            asset?.currentValue?.value | currency : " EGP " : "symbol" : "1.0-0"
          }}
          } @else {
          {{ "map.No_evaluation_yet" | translate }}
          }
        </span>
      </div>
    </div>
    <div class="flex gap-4 price">
      <img
        src="../../assets/icons/revenue.svg"
        class="w-10 rounded-xl"
        alt="revenue"
      />
      <div class="flex flex-col">
        <span class="text-sm text-[var(--secondary-color)]">
          {{ "map.rental_value" | translate }}
        </span>
        <span class="font-medium text-lg">
          @if(asset?.rentalValue?.value) {
          {{
            asset?.rentalValue?.value | currency : " EGP " : "symbol" : "1.0-0"
          }}
          } @else {
          {{ "map.No_rental_value" | translate }}
          }
        </span>
      </div>
    </div>
    <div>
      <h2 class="font-bold text-lg">{{ "map.details" | translate }}</h2>
      <p>
        {{ asset?.translatedDescription }}
      </p>
    </div>
    @if(asset?.currentValue?.reportUrl) {
    <a
      href="{{ imageUrlBase + asset?.currentValue?.reportUrl }}"
      (click)="closeDialog()"
      target="_blank"
      class="p-button font-bold"
    >
      {{ "map.open_report" | translate }}
      <i class="pi pi-external-link text-base"></i>
    </a>

    } @else {
    <p-button
      disabled="true"
      label="{{ 'map.no_report' | translate }}"
      class="w-full [&>button]:!w-full"
    />
    }
  </div>
  @if(asset == null) {
  <div
    class="flex items-center justify-center absolute w-[98%] h-[89%] backdrop-blur-sm -mx-4"
  >
    <div class="spinner">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  }
</main>
