<div class="flex flex-col gap-6">
  <div class="flex-1">
    <label for="companyId" class="block font-bold mb-3">{{
      "projects.company" | translate
    }}</label>
    <p-select
      [options]="companies"
      id="companyId"
      [formControl]="company"
      optionLabel="translatedName"
      placeholder="{{ 'projects.company' | translate }}"
      class="w-full"
    />
    @if (submitted && !company) {<small class="text-red-500"
      >{{ "General.required" | translate }} </small
    >} @if (company.errors?.['serverError']) { @for (err of
    company.errors?.['serverError']; track $index) {
    <p class="text-red-500">{{ err }}</p>
    } }
  </div>

  <fieldset class="flex flex-col gap-4">
    <div class="flex-1">
      <label for="arabicName" class="block font-bold mb-3">{{
        "arabic_name" | translate
      }}</label>
      <input
        type="text"
        pInputText
        id="arabicName"
        [formControl]="arName"
        control
        required
        autofocus
        fluid
        [ngClass]="{ 'ng-invalid': submitted && arName.invalid }"
      />
      @if (submitted && !arName) {<small class="text-red-500"
        >{{ "General.required" | translate }} </small
      >} @if (arName.errors?.['serverError']) { @for (err of
      arName.errors?.['serverError']; track $index) {
      <p class="text-red-500">{{ err }}</p>
      } }
    </div>
    <div class="flex-1">
      <label for="EnglishName" class="block font-bold mb-3">{{
        "english_name" | translate
      }}</label>
      <input
        type="text"
        pInputText
        id="EnglishName"
        [formControl]="enName"
        control
        required
        autofocus
        fluid
        [ngClass]="{ 'ng-invalid': submitted && enName.invalid }"
      />
      @if (submitted && !enName) {<small class="text-red-500"
        >{{ "General.required" | translate }} </small
      >} @if (enName.errors?.['serverError']) { @for (err of
      enName.errors?.['serverError']; track $index) {
      <p class="text-red-500">{{ err }}</p>
      } }
    </div>
  </fieldset>
</div>

<div class="flex gap-4 justify-end mt-4">
  <p-button label="Cancel" icon="pi pi-times" text (click)="closeDialog()" />
  <p-button
    label="Save"
    icon="pi pi-check"
    [loading]="loading"
    (click)="submit()"
    [disabled]="!form.dirty"
  />
</div>
